@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "AboutUs";
}


<link rel="stylesheet" href="~/Content/bootstrap.css">
<link rel="stylesheet" href="~/Content/bootstrap-theme.css">

<div>
    
    
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            
                <font color="#415c81" size="6">Administration </font>
            
                    <br><br><br>
                    <fieldset>
                        <legend><font color="#415c81" size="4">Nauman Sharif </font></legend>
                        <div class="row">
                            <div class="col-md-3">
                                <img class="img-thumbnail" style="width: suto; height: auto" src="~/images/nauman.jpg" />
                            </div>
                            <div class="col-md-9">
                                <br>
                                <br>
                                <br><ul><li>CEO</li><li>BS (IT) , PU , 2016</li><li>bitf12m017@pucit.edu.pk</li></ul>
                            </div>
                        </div>


                    </fieldset>
                    <br><br>
                    <fieldset>
                        <legend><font color="#415c81" size="4">Emma Watson </font></legend>
                        <div class="row">
                            <div class="col-md-3">
                                <img class="img-thumbnail" style="width: suto; height: auto" src="~/images/EmmaWatson.jpg" />
                            </div>
                            <div class="col-md-9">
                                <br>
                                <br>
                                <br><ul><li>Private Secretary to CEO</li><li>Excellent typing skills, can type 70 wpm</li><li>emma.watson@newhope.com</li></ul>
                            </div>
                        </div>


                    </fieldset>
                    <br><br>
                    <fieldset>
                        <legend><font color="#415c81" size="4">Sami Ullah </font></legend>
                        <div class="row">
                            <div class="col-md-3">
                                <img class="img-thumbnail" style="width: suto; height: auto" src="~/images/sami.jpg" />
                            </div>
                            <div class="col-md-9">
                                <br>
                                <br>
                                <br><ul><li>Senior Network Administrator</li><li>MS (TQM) 2002</li><li>bitf12m010@pucit.edu.pk</li></ul>
                            </div>
                        </div>


                    </fieldset>
                    <br><br>
                    <fieldset>
                        <legend><font color="#415c81" size="4">Khuram Dogar </font></legend>
                        <div class="row">
                            <div class="col-md-3">
                                <img class="img-thumbnail" style="width: suto; height: auto" src="~/images/khuram.jpg" />
                            </div>
                            <div class="col-md-9">
                                <br>
                                <br>
                                <br><ul><li>Estate Officer</li><li>BS (IT) , PU , 2016</li><li>bitf12m010@pucit.edu.pk</li></ul>
                            </div>
                        </div>


                    </fieldset>
            <br><br><br><br><br>
            <font color="#415c81" size="6">Feedback </font>
            <br><br>
            <form method="post" action="~/Home/SubmitFeedback">
                <textarea name="feed" class="form-control" cols="60" rows="10"></textarea>
                <br><br>

                <input type="submit" value="submit feedback" class="btn btn-lg btn-primary pull-right">
            </form>
            <br><br><br><br>
        </div>
        </div>




</div>
